	<head>
		<!-- S I T I O -->
		<title>Demo</title>
		<!-- M E T A -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="{{ site.rgb1 }}" />
		<!-- C S S -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sitio/styles.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fa/font-awesome.min.css" />
				<!-- C S S   S T Y L E -->
				<style>
				body {
				font-size:{{ site.font_size }};
				background-color:{{ site.rgb2 }};
				color:{{ site.rgb4 }};
				}
				
				.header {
				background-color:{{ site.rgb1 }};
				color:{{ site.rgb3 }};
				}
				</style>
		<!-- J S -->
	</head>