* {
margin:0;
padding:0;
}

.header {
width:100%;
}

.header .titleweb {
font-size:2em;
padding:.5em 0px;
text-align:center;
font-weight:bold;
}

.header .reordermenu {
font-size:2em;
padding:.5em .3em .5em 0px;
font-weight:bold;
text-align:right;
float:right;
}





